<div class="container">
  <h1><%= form_title %></h1>

  <%=form_for @product do |p|%>
  <form>
    <div class="form-group">
      <%= p.text_field :name, class: "form-control input-lg" %>
    </div>
    <div class="form_group">
      <%= p.number_field :price, class: "form-control input-lg"   %>
    </div>
    <div class="form_group">
      <%=p.collection_check_boxes :category_ids, Category.all, :id, :name %>
    </div>


    <div>
      <br>
      <%= p.submit form_title, class: "btn btn-primary btn-lg btn-block" %>
    </div>


  </form>
     <% end %>

</div>
